amqp==1.4.9
ansible==2.3.0.0
anyjson==0.3.3
appnope==0.1.0
argh==0.26.2
asn1crypto==0.24.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
billiard==3.3.0.23
boto==2.48.0
celery==3.1.26.post2
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.1.4
decorator==4.2.1
defusedxml==0.5.0
Django==1.10.5
django-celery==3.2.2
django-celery-beat==1.1.1
django-cors-headers==2.2.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-formtools==2.0
django-js-asset==1.0.0
django-json-rpc==0.7.2
django-mptt==0.9.0
django-pure-pagination==0.3.0
django-redis==4.8.0
django-rest-framework==0.1.0
djangorestframework==3.6.3
DjangoUeditor==1.8.143
dlib==19.8.99
drfdocs==0.0.11
future==0.16.0
httplib2==0.9.2
humanize==0.5.1
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
Jinja2==2.10
kombu==3.0.37
MarkupSafe==1.0
msgpack-python==0.5.5
olefile==0.44
paramiko==2.4.0
parso==0.1.1
pathtools==0.1.2
pexpect==4.4.0
pickleshare==0.7.4
Pillow==8.1.1
prompt-toolkit==1.0.15
psutil==5.4.3
ptyprocess==0.5.2
pyasn1==0.4.2
pycparser==2.18
pycrypto==2.6.1
Pygments==2.2.0
PyMySQL==0.7.11
PyNaCl==1.2.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
redis==2.10.6
requests==2.18.4
schedule==0.5.0
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.4
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
