{% extends 'index.html' %}

{% block main %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'index' %}">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">资产管理</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">主机管理</a>
        </li>
    </ul>
    <div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white user"></i><span class="break"></span>主机列表</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>主机名</th>
                                  <th>Ip地址</th>
								  <th>所属机房</th>
								  <th>主机组</th>
                                  <th>Sn号</th>
                                  <th>内存大小</th>
                                  <th>硬盘大小</th>
                                  <th>状态</th>
                                  <th>Action</th>
							  </tr>
						  </thead>
						  <tbody>
                          {% if host_list %}
                            {% for host in host_list %}
							<tr>
								<td class="center">{{ host.hostname }}</td>
                                <td>{{ host.ipaddress }}</td>
                                <td>{{ host.idc }}</td>
                                <td>{{ host.hostgroup }}</td>
                                <td>
                                    {% autoescape off %}
                                        {{ host.sn|slice:"15" }}
                                    {% endautoescape %}
                                    {% if host.sn|length > 15 %}
                                    ...
                                    {% endif %}
                                </td>
                                <td>{{ host.memory }}</td>
                                <td>{{ host.disk }}</td>
								<td class="center">
									<span class="label label-success">{{ host.status }}</span>
								</td>
								<td class="center">
									<a class="btn btn-success" href="{% url 'host_add' %}">
										<i class="halflings-icon white zoom-in"></i>
									</a>
									<a class="btn btn-info" href="#">
										<i class="halflings-icon white edit"></i>
									</a>
									<a class="btn btn-danger" href="#">
										<i class="halflings-icon white trash"></i>
									</a>
								</td>
							</tr>
                            {% endfor %}
                          {% else %}
                              <p>暂时没有一个主机信息</p>
                          {% endif %}
						  </tbody>
					  </table>
                        <div class="col-sm-1" style="padding-left: 0">
                            <a href="{% url 'host_add' %}" class="btn btn-success "> 添加主机资产 </a>
                        </div>
					</div>
				</div><!--/span-->

			</div><!--/row-->
{% endblock %}
