{% extends 'index.html' %}

{% block main %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'index' %}">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">资产管理</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">机房管理</a>
        </li>
    </ul>
    <div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>机房名称</th>
                                  <th>地址</th>
								  <th>联系电话</th>
								  <th>联系人</th>
                                  <th>邮箱</th>
                                  <th>Ip地址段</th>
                                  <th>运营商</th>
                                  <th>Action</th>
							  </tr>
						  </thead>
						  <tbody>
                          {% if idc_list %}
                            {% for idc in idc_list %}
							<tr>
								<td class="center">{{ idc.name }}</td>
                                <td>{{ idc.address }}</td>
                                <td>{{ idc.phone }}</td>
                                <td>{{ idc.linkman }}</td>
                                <td>{{ idc.email }}</td>
                                <td>
                                    {% autoescape off %}
                                        {{ idc.network|slice:"20" }}
                                    {% endautoescape %}
                                    {% if idc.network|length > 20 %}
                                    ...
                                    {% endif %}
                                </td>
                                <td>{{ idc.operator }}</td>
								<td class="center">
									<a class="btn btn-success" href="{% url 'idc_add' %}">
										<i class="halflings-icon white zoom-in"></i>
									</a>
									<a class="btn btn-info" href="#">
										<i class="halflings-icon white edit"></i>
									</a>
									<a class="btn btn-danger" href="#">
										<i class="halflings-icon white trash"></i>
									</a>
								</td>
							</tr>
                            {% endfor %}
                          {% else %}
                              <p>暂时没有一个机房信息</p>
                          {% endif %}
						  </tbody>
					  </table>
					</div>
				</div><!--/span-->

			</div><!--/row-->
{% endblock %}
