{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/host.css">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            资产详情
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-server"></i> 资产管理</a>
            <li><a href="{% url 'assets:asset_list' %}"> 资产</a></li>
            <li class="active"><a href="#">资产详情</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h1 class="box-title" style="font-size: 25px;">{{ asset.asset_name }}</h1>
                        <a href="{% url 'assets:asset_edit' asset.pk %}" class="pull-right"><button class="btn btn-primary">修改主机配置</button></a>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    资产ID：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.id }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    资产名：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.asset_name }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    管理IP：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.manage_ipaddress }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    其他IP：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.other_ipaddress }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    MAC地址：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.macaddress }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    SN号：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.sn }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    所在机房：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.idc }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    厂商：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.manufacturer }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    管理人：
                                </div>
                                <div class="col-md-8 hos">

                                    <a href=""><button class="btn btn-success btn-xs">
                                        <span class="fa fa-user-md"></span>
                                        <b>{{ asset.manage_user }}</b></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    资产组：
                                </div>
                                <div class="col-md-8">
                                    {% for assetgroup in asset.assetgroup.all %}
                                        <a href=""><button class="btn btn-info btn-xs">{{ assetgroup }}</button></a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    资产类型：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.get_asset_type_display }}{{ asset.level }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    操作系统：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.get_os_type_display }}{{ asset.level }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    系统版本：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.os_version }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    CPU型号：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.cpu.cpu_model }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    物理CPU个数：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.cpu.cpu_num }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    逻辑CPU个数：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.cpu.cpu_cores }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    状态：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.get_status_display }}{{ asset.level }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    描述：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.description }}</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    创建时间：
                                </div>
                                <div class="col-md-8 hos">
                                    <b>{{ asset.create_time }}</b>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('#g-2').addClass('active');
            $('#g-2-1').addClass('active');
        });
    </script>
{% endblock %}