{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            机房列表
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-server"></i> 资产管理</a>
            <li><a href="#"> 机房管理</a></li>
            <li class="active"><a href="#">机房列表</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <a href="{% url 'idc_add' %}">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>添加机房
                            </button>
                        </a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>机房名</th>
                                <th>所在地址</th>
                                <th>联系电话</th>
                                <th>联系人</th>
                                <th>所在网段</th>
                                <th>运营商</th>
                                <th>描述</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for idc in idc_list %}
                                <tr>
                                    <td><a href="{% url 'idc_detail' idc.pk %}">{{ idc.name }}</a></td>
                                    <td>{{ idc.address }}</td>
                                    <td>{{ idc.phone }}</td>
                                    <td><a href="{% url 'index' %}">{{ idc.manage_user }}</a></td>
                                    <td>{{ idc.network }}</td>
                                    <td>{{ idc.get_operator_display }}{{ idc.level }}</td>
                                    <td>{{ idc.description }}</td>
                                    <td>
                                        <a href="{% url 'idc_detail' idc.pk %}"><span class="label label-primary">detail</span></a>
                                        <a href="{% url 'idc_edit' idc.pk %}"><span class="label label-warning">edit</span></a>
                                        <a href="{% url 'idc_add' %}"><span class="label label-success">add</span></a>
                                        <button class="btn btn-danger btn-xs" data-toggle="modal"
                                                data-target="#{{ idc.pk }}">
                                            delete
                                        </button>
                                        <div class="modal fade" id="{{ idc.pk }}" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel" style="color: #953b39;">主机删除</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            确定要删除主机组
                                                            <a href="">{{ idc.name }}</a>？
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form action="{% url 'idc_del' idc.pk %}" method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">
                                                                删除
                                                            </button>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">取消
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#g-2').addClass('active');
        $('#g-2-4').addClass('active');
    });
    $(function () {
        $('#example1').DataTable();
    })
    </script>
{% endblock %}