input[type="submit"]{
	background:#e91e63;
	padding:13px 0;
	font-size:16px;
	color:#fff;
	cursor:pointer;
	outline:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	width:95%;
	border:none;
	margin-top:25px;
	border-radius:25px;
}

input[type="submit"]:hover{
	background:#081148;
}

