<ul class="sidebar-menu" data-widget="tree">
    <li class="header">管理菜单</li>
    <li class="treeview" id="g-1">
        <a href="">
            <i class="fa fa-dashboard" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
        <ul class="treeview-menu">
            <li id="g-1-1">
                <a href="{% url 'index' %}">
                    <i class="fa fa-circle-o"></i> dashboard
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview" id="g-2">
        <a href="">
            <i class="fa fa-server" aria-hidden="true"></i>
            <span>资产管理</span>
            <span class="label label-primary pull-right">{{ asset_count }}</span>
        </a>
        <ul class="treeview-menu">
            <li id="g-2-1">
                <a href="{% url 'host_list' %}">
                    <i class="fa fa-circle-o"></i> 主机
                    <span class="label label-info pull-right">{{ host_count }}</span>
                </a>
            </li>
            <li id="g-2-2">
                <a href="{% url 'hostgroup_list' %}">
                    <i class="fa fa-circle-o"></i> 主机组
                    <span class="label label-info pull-right">{{ hostgroup_count }}</span>
                </a>
            </li>
            <li id="g-2-3">
                <a href="{% url 'networkdevice_list' %}">
                    <i class="fa fa-circle-o"></i> 网络设备
                    <span class="label label-info pull-right">{{ networkdevice_count }}</span>
                </a>
            </li>
            <li id="g-2-4">
                <a href="{% url 'idc_list' %}">
                    <i class="fa fa-circle-o"></i> 机房管理
                    <span class="label label-info pull-right">{{ idc_count }}</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview" id="g-3">
        <a href="#">
            <i class="fa fa-user-md" aria-hidden="true"></i>
            <span>用户管理</span>
            <span class="label label-primary pull-right">{{ user_count }}</span>
        </a>
        <ul class="treeview-menu">
            <li id="g-3-1">
                <a href="">
                    <i class="fa fa-user-circle-o"></i> 用户
                    <span class="label label-info pull-right">{{ user_count }}</span>
                </a>
            </li>
            <li id="g-3-2">
                <a href="">
                    <i class="fa fa-circle-o"></i> 用户组
                    <span class="label label-info pull-right">{{ hostgroup_count }}</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview" id="g-4">
        <a href="#">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>权限管理</span>
            <span class="label label-primary pull-right">3</span>
        </a>
        <ul class="treeview-menu">
            <li id="g-4-1">
                <a href="">
                    <i class="fa fa-circle-o"></i> 操作权限
                </a>
            </li>
            <li id="g-4-2">
                <a href="">
                    <i class="fa fa-circle-o"></i> 访问权限
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview" id="g-5">
        <a href="#">
            <i class="fa fa-file-zip-o" aria-hidden="true"></i>
            <span>日志</span>
            <span class="label label-primary pull-right">3</span>
        </a>
        <ul class="treeview-menu">
            <li id="g-5-1">
                <a href="">
                    <i class="fa fa-circle-o"></i> 用户日志
                </a>
            </li>
            <li id="g-5-2">
                <a href="">
                    <i class="fa fa-circle-o"></i> 资产日志
                </a>
            </li>
        </ul>
    </li>
</ul>