<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">Dashboard</a></li>
</ul>
<div class="row-fluid hideInIE8 circleStats">

    <div class="span2" onTablet="span4" onDesktop="span2">
        <div class="circleStatsItemBox yellow">
            <div class="header">Asset</div>
            <span class="percent"><h1>资产管理</h1></span>
            <div class="footer">
                <span class="count">
                    <span class="number">200</span>
                    <span class="unit">条资产</span>
                </span>
            </div>
        </div>
    </div>
    <div class="span2" onTablet="span4" onDesktop="span2">
        <div class="circleStatsItemBox green">
            <div class="header">User</div>
            <span class="percent"><h1>用户管理</h1></span>
            <div class="footer">
                <span class="count">
                    <span class="number">103</span>
                    <span class="unit">个用户</span>
                </span>
            </div>
        </div>
    </div>
    <div class="span2" onTablet="span4" onDesktop="span2">
        <div class="circleStatsItemBox blue">
            <div class="header">Configuration</div>
            <span class="percent"><h1>配置管理</h1></span>
            <div class="footer">
                <span class="count">
                    <span class="number">64</span>
                    <span class="unit">条配置记录</span>
                </span>
            </div>
        </div>
    </div>
    <div class="span2" onTablet="span4" onDesktop="span2">
        <div class="circleStatsItemBox pink">
            <div class="header">Perm</div>
            <span class="percent"><h1>权限管理</h1></span>
            <div class="footer">
                <span class="count">
                    <span class="number">权限</span>
                    <span class="unit">设置</span>
                </span>
            </div>
        </div>
    </div>
    <div class="span2 noMargin" onTablet="span4" onDesktop="span2">
        <div class="circleStatsItemBox red">
            <div class="header">Monitor</div>
            <span class="percent"><h1>系统监控</h1></span>
            <div class="footer">
                <span class="count">
                    <span class="number">64</span>
                    <span class="unit">个监控项</span>
                </span>
            </div>
        </div>
    </div>
    <div class="span2" onTablet="span4" onDesktop="span2">
        <div class="circleStatsItemBox green">
            <div class="header">Alert</div>
            <span class="percent"><h1>故障报警</h1></span>
            <div class="footer">
                <span class="count">
                    <span class="number">64</span>
                    <span class="unit">条报警记录</span>
                </span>
            </div>
        </div>
    </div>
</div>

