<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}自动化运维平台{% endblock %}</title>
	<meta name="author" content="LiuHui">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block link %}
        <link id="bootstrap-style" href="/static/css/bootstrap.min.css" rel="stylesheet">
	    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link id="base-style" href="/static/css/style.css" rel="stylesheet">
	    <link id="base-style-responsive" href="/static/css/style-responsive.css" rel="stylesheet">

    {% endblock %}
</head>

<body>
	{% include 'nav.html' %}
    <div class="container-fluid-full">
        <div class="row-fluid">
            {% block left %}
            {% include 'left.html' %}
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
            {% endblock %}

			<!-- start: Content -->
			<div id="content" class="span10">
			{% block main %}
                {% include 'dashboard.html' %}
            {% endblock %}
		    </div><!--/#content.span10-->
		</div><!--/fluid-row-->
    </div><!--/fluid-full-->
    {% block footer %}
    <div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>

	<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<ul class="list-inline item-details">
				<li><a href="#">Admin templates</a></li>
				<li><a href="http://themescloud.org">Bootstrap themes</a></li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
	<!-- start: JavaScript-->
    {% include 'footer.html' %}
    {% endblock %}
    {% block script %}
        <script src="/static/js/jquery-1.9.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="/static/js/jquery-ui-1.10.0.custom.min.js"></script>
		<script src="/static/js/jquery.ui.touch-punch.js"></script>
		<script src="/static/js/modernizr.js"></script>
		<script src="/static/js/jquery.cookie.js"></script>
		<script src='/static/js/fullcalendar.min.js'></script>
		<script src='/static/js/jquery.dataTables.min.js'></script>
		<script src="/static/js/excanvas.js"></script>
        <script src="/static/js/jquery.chosen.min.js"></script>
		<script src="/static/js/jquery.uniform.min.js"></script>
		<script src="/static/js/jquery.cleditor.min.js"></script>
		<script src="/static/js/jquery.noty.js"></script>
		<script src="/static/js/jquery.elfinder.min.js"></script>
		<script src="/static/js/jquery.raty.min.js"></script>
		<script src="/static/js/jquery.uploadify-3.1.min.js"></script>
		<script src="/static/js/jquery.gritter.min.js"></script>
		<script src="/static/js/jquery.imagesloaded.js"></script>
		<script src="/static/js/jquery.masonry.min.js"></script>
		<script src="/static/js/jquery.knob.modified.js"></script>
		<script src="/static/js/jquery.sparkline.min.js"></script>
		<script src="/static/js/counter.js"></script>
		<script src="/static/js/retina.js"></script>
        <script src="/static/js/custom.js"></script>
    {% endblock %}

</body>
</html>
