<!-- start: Main Menu -->
    <div id="sidebar-left" class="span2">
        <div class="nav-collapse sidebar-nav">
            <ul class="nav nav-tabs nav-stacked main-menu">
                <li><a href="{% url 'index' %}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                <li>
                    <a class="dropmenu" href="#"><i class="icon-align-justify"></i><span class="hidden-tablet"> 资产管理</span></a>
                    <ul>
                        <li><a class="submenu" href="{% url 'host_list' %}">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">主机管理</span></a></li>
                        <li><a class="submenu" href="{% url 'hostgroup_list' %}">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">主机组</span></a></li>
                        <li><a class="submenu" href="{% url 'idc_list' %}">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">机房管理</span></a></li>
                        <li><a class="submenu" href="{% url 'networkdevice_list' %}">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">网络设备</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropmenu" href="#"><i class="icon-building"></i><span class="hidden-tablet"> 配置管理</span></a>
                    <ul>
                        <li><a class="submenu" href="#">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">salt认证</span></a></li>
                        <li><a class="submenu" href="#">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">模块部署</span></a></li>
                        <li><a class="submenu" href="#">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">远程命令</span></a></li>
                        <li><a class="submenu" href="#">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">代码发布</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropmenu" href="#"><i class="icon-user"></i><span class="hidden-tablet"> 用户管理</span></a>
                    <ul>
                        <li><a class="submenu" href="{% url 'user_list' %}">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">用户列表</span></a></li>
                        <li><a class="submenu" href="{% url 'user_add' %}">&nbsp;&nbsp;<i class="icon-file-alt"></i><span class="hidden-tablet">用户添加</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-align-justify"></i><span class="hidden-tablet"> 权限管理</span></a></li>
                <li><a href="#"><i class="icon-check"></i><span class="hidden-tablet"> 系统监控</span></a></li>
                <li><a href="#"><i class="icon-align-justify"></i><span class="hidden-tablet"> 故障报警</span></a></li>
                <li><a href="#"><i class="icon-lock"></i><span class="hidden-tablet"> 日志审计</span></a></li>
            </ul>
        </div>
    </div>
<!-- end: Main Menu -->